@keyframes settings-down-anim {
    from {bottom: 130px;}
    to {bottom: 15px;}
}

.settings-down {
    animation: settings-down-anim 0.2s linear 0s 1 forwards;
}

@keyframes delete-board-down-anim {
    from {bottom: 80px;}
    to {bottom: 15px;}
}

.delete-board-down {
    animation: delete-board-down-anim 0.2s linear 0s 1 forwards;
}

@keyframes settings-up-anim {
    from {bottom: 15px;}
    to {bottom: 130px;}
}

.settings-up {
    animation: settings-up-anim 0.2s linear 0s 1 forwards;
}

@keyframes delete-board-up-anim {
    from {bottom: 15px;}
    to {bottom: 80px;}
}

.delete-board-up {
    animation: delete-board-up-anim 0.2s linear 0s 1 forwards;
}
